.presentationModeGrid
{
  clear: both;
  width: 100%;
  max-width: 770px;
  min-height: 600px;
  padding-top: 40px;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  background-color: ghostwhite;
}